# 📊 Análisis Univariado & Análisis Bivariado 🔍

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Análisis Exploratoria de los Datos del Banco W

In [5]:
df_historico = pd.read_csv('Historico_hallazgos(Hallazgos).csv', sep=';')
df_historico.head(15)

,Num,ID_modif,Cliente,Analista,Nombre analista,Tipo crédito,Fecha desem,Visita_analista_crédito,Visita_auditor,Actividad,...,Relaciones Laborales,Oficina,zona,Regional,Validación unico,Tipo analisis,Clasificac analisis,Estado,Año,Tipo
0,1.0,7.252.440,Hector Julio Pabon Castano,AIZ,Juan Alejandro Trujillo Garcia,Renovacion,11-jun-21,NaN,20-sep-22,don patacon postobon,...,Si,Dosquebradas,12,4,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
1,2.0,1.143.936.676,Casas Marisol ...,JQQ,Alexander Joaqui Quintero,Renovacion,15-jun-21,08-jun-21,NaN,expendio de comidas preparadas en cafeterias ...,...,Si,Poblado,1,1,NaN,NaN,NaN,Castigo,2022,Afecta Estabilidad
2,3.0,1.193.501.439,Jose Armando Agudelo Gomez,HZT,Aleatorio,NaN,02-oct-22,10-feb-22,00-ene-00,Gallera Trebol,...,NaN,Chaparral,11,4,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
3,4.0,1.088.033.647,Jennifer Lopez Perez,IOC,Nicolas Suaza Pulgarin,Nuevo,03-may-22,NaN,22-ago-22,drogueria,...,Si,Dosquebradas,12,4,NaN,NaN,NaN,Modificado,2022,Afecta Estabilidad
4,5.0,1.116.271.559,Laura Marcela Valdes Zapata,CZL,Martha Herrera Giraldo,Renovación,11-mar-22,05-mar-22,07-jun-22,manualidades artes plasticas,...,NaN,Tulua,3,1,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
5,6.0,1.010.076.951,Julitza Zarabanda Silva,HZT,Aleatorio,NaN,03-dic-22,12-mar-22,00-ene-00,Cultivo Cafe,...,NaN,Chaparral,11,4,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
6,7.0,1.005.850.418,Harold Stevel Cuellar Izquierdo,HZT,Aleatorio,NaN,18/03/2022,18-mar-22,00-ene-00,Cultivo Cafe,...,NaN,Chaparral,11,4,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
7,8.0,31.940.414,Martha Cecilia Veru,AQT,Quiroga Torres Alejandro,Preferencial,23-jul-22,18-jul-22,12-ago-22,Venta De Mercancia,...,Si,Independencia,1,1,NaN,NaN,NaN,Normal,2022,Afecta Estabilidad
8,9.0,42.058.369,Alba Nory Ospina Quintero,EQJ,Martha Patricia Agudelo Ospina,Preferenci,28-abr-22,NaN,14-sep-22,mercancia,...,Si,Dosquebradas,12,4,NaN,NaN,NaN,Normal,2022,Afecta Estabilidad
9,10.0,28.779.854,Carmelita Arias De Diaz,IKO,Carlos Andres Cardona,Preferenci,10-may-22,NaN,13-sep-22,venta de catalogos,...,Si,Dosquebradas,12,4,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
10,11.0,31.976.162,Liana Shirley Zapata Maya,CZL,Martha Herrera Giraldo,Renovación,11-may-22,24-may-22,07-jun-22,clases de pintura manualidades,...,NaN,Tulua,3,1,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
11,12.0,22.011.625,Angela Patricia Pabon Castano,IKO,Carlos Andres Cardona,Renovacion,13-may-22,NaN,14-sep-22,don patacon,...,Si,Dosquebradas,12,4,NaN,NaN,NaN,Normal,2022,Afecta Estabilidad
12,13.0,1.006.004.562,Flor Alba Nunez Tagua,MAP,Monica Andrea Parra Murcia,Renovación,18-may-22,10-may-22,22-ago-22,Manualidades,...,Si,Independencia,1,1,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
13,14.0,1.234.197.082,Kevin Steven Alzate Echeverry,CAV,Villareal Diaz Carlos Andres,Nuevo,'17/05/2022,16-may-22,15-jul-22,Maestro De Obra Blanca,...,Si,Laureano Gómez,2,1,NaN,NaN,NaN,Cancelada,2022,Afecta Estabilidad
14,15.0,1.193.564.795,Kelin Dayana Rivera Caceres,BHU,Gustavo Adolfo Pineda,Renovación,28-may-22,28-may-22,07-jun-22,alquiler de banos,...,NaN,Tulua,3,1,NaN,NaN,NaN,Modificado,2022,Afecta Estabilidad

In [4]:
df_colocacion = pd.read_csv("Colocacion_creditos(DATOS BASE).csv", sep=';')
df_colocacion.head()

,zona,coficina,noficina,credito,id,nombre,finicio,analista,saldo,monto,plazo,vcuota,tasa,producto,tipo,fproxpago
0,1,1,PRINCIPAL,001MH0109358,1.343595e+07,ALDEMAR MENDEZ RIV,31/10/2020 0:00,DPC,1.181.630,1.181.630,10,147.304,"32,16",MH01,NUEVO,10/12/2024
1,1,1,PRINCIPAL,001PG1200252,6.684842e+07,LUZ AMANDA DIAZ RI,31/10/2020 0:00,JHJ,1.166.688,1.166.688,12,57.766,"37,08",PG12,NUEVO,10/12/2024
2,1,1,PRINCIPAL,001PG1200253,1.010138e+09,Danna Catalina Ort,31/10/2020 0:00,FUX,1.537.195,1.537.195,15,68.193,"37,08",PG12,NUEVO,05/12/2024
3,1,1,PRINCIPAL,001PG1200254,1.495966e+07,MIGUEL GERARDO ENR,31/10/2020 0:00,GFD,1.877.610,1.877.610,15,87.164,"37,08",PG12,NUEVO,07/12/2024
4,1,1,PRINCIPAL,001PG1200255,1.118871e+09,LIZA LARA,31/10/2020 0:00,JHJ,1.266.688,1.266.688,12,58.802,"37,08",PG12,NUEVO,07/12/2024

In [6]:
df_historico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3919 entries, 0 to 3918
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Num                      3919 non-null   float64
 1   ID_modif                 3919 non-null   object
 2   Cliente                  3918 non-null   object
 3   Analista                 3919 non-null   object
 4   Nombre analista          3919 non-null   object
 5   Tipo crédito             3717 non-null   object
 6   Fecha desem              3916 non-null   object
 7   Visita_analista_crédito  3119 non-null   object
 8   Visita_auditor           3800 non-null   object
 9   Actividad                3867 non-null   object
 10  Monto                    3919 non-null   float64
 11  Cuota                    3919 non-null   object
 12  Plazo                    3919 non-null   int64
 13  Categoria                3919 non-null   object
 14  Hallazgo                 3917 non-null   object
 15  Tipo hallazgo            3918 non-null   object
 16  Riesgo                   3915 non-null   object
 17  Calificación cartera     3889 non-null   object
 18  Relaciones Laborales     3423 non-null   object
 19  Oficina                  3919 non-null   object
 20  zona                     3919 non-null   int64
 21  Regional                 3919 non-null   int64
 22  Validación unico         247 non-null    object
 23  Tipo analisis            2397 non-null   object
 24  Clasificac analisis      2397 non-null   object
 25  Estado                   2786 non-null   object
 26  Año                      3919 non-null   int64
 27  Tipo                     2786 non-null   object
dtypes: float64(2), int64(4), object(22)
memory usage: 857.4+ KB

Tenemos un dataset con varios datos faltantes
- Tipo Crédito con mas de 200 valores nulos
- Un cliente faltante
- Dos creditos sin fecha de desmbolso
- 800 creditos sin visita de analista
- 119 creditos sin visita de auditor
- 52 creditos no especifica actividad
- 2 Creditos sin hallazgo
- 1 credito sin tipo de hallazgo
- 4 creditos sin riesgo
- 30 creditos sin calficacion de cartera
- Casi 500 creditos sin relacion laboral
- Practicamente toda la columna Validacion unico esta sin valores
- Tipo analisis tiene aproximadamente 1520 sin llenar
- Clasificacion de analisis tambien tiene aproximadamente 1520 sin llenar
- Hay mas de 1100 creditos sin estado
- Hay mas de 1100 creditos sin tipo

Tambien podemos observar:
- cuota es de tipo object y deberia ser float
- Riesgo podria ser numerica si solo dejamos el numero

In [7]:
df_colocacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20188 entries, 0 to 20187
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   zona       20188 non-null  int64
 1   coficina   20188 non-null  int64
 2   noficina   20188 non-null  object
 3   credito    20188 non-null  object
 4   id         20179 non-null  float64
 5   nombre     20188 non-null  object
 6   finicio    20188 non-null  object
 7   analista   20188 non-null  object
 8   saldo      20188 non-null  object
 9   monto      20188 non-null  object
 10  plazo      20188 non-null  int64
 11  vcuota     20188 non-null  object
 12  tasa       20188 non-null  object
 13  producto   20188 non-null  object
 14  tipo       20188 non-null  object
 15  fproxpago  20188 non-null  object
dtypes: float64(1), int64(3), object(12)
memory usage: 2.5+ MB

In [12]:
df_historico['Categoria'].value_counts()

Categoria
Sin_Hallazgo                            1025
Otras_Políticas                          655
OTRAS_POLITICAS                          362
Limitación_en_el_Alcance                 234
LIMITACIÓN_EN_EL_ALCANCE                 196
Controles_Administrativos_de_Agencia     173
Políticas_Críticas                       158
ESTABILIDAD                              154
Otros                                    129
CALIDAD_DE_DATOS                         109
Reputación                               104
Existencia_y_Continuidad_del_Negocio      96
FRAUDE_Y_PRÁCTICAS_INDEBIDAS              87
Estabilidad                               82
Calidad_de_Datos                          72
FLUJO_DE_CAJA                             48
Flujo_de_Caja                             41
POLITICAS_CRITICAS                        38
Controles_Gestión_Comercial               38
INCUMPLIMIENTO_AL_SAC                     36
EXISTENCIA_Y_CONTINUIDAD_DEL_NEGOCIO      24
REPUTACIÓN                                15
Habilidad_Empresarial                     14
Incumplimiento_Al_SAC                     13
HABILIDAD_EMPRESARIAL                      8
CONTROLES_ADMINISTRATIVOS_DE_AGENCIA       3
Seguridad_de_la_Información                2
SIN_HALLAZGO                               1
Fraude_y_Prácticas_Indebidas               1
otros                                      1
Name: count, dtype: int64

La categoria seria la variable objetivo, saber si es Fraude-y-Practicas-Indebidas, se ve que tiene muchos tipos de datos esta variables pero es porque tiene categorias en mayuscula y minuscula para referirse al mismo texto

In [ ]:
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Sin_Hallazgo', 'SIN_HALLAZGO')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Otras_Políticas', 'OTRAS_POLITICAS')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Limitación_en_el_Alcance', 'LIMITACIÓN_EN_EL_ALCANCE')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Controles_Administrativos_de_Agencia', 'CONTROLES_ADMINISTRATIVOS_DE_AGENCIA')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Políticas_Críticas', 'POLITICAS_CRITICAS')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Estabilidad', 'ESTABILIDAD')

df_historico['Categoria'] = df_historico['Categoria'].str.replace('Calidad_de_Datos', 'CALIDAD_DE_DATOS')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('otros', 'Otros')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Reputación', 'REPUTACIÓN')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Habilidad_Empresarial', 'HABILIDAD_EMPRESARIAL')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Existencia_y_Continuidad_del_Negocio', 'EXISTENCIA_Y_CONTINUIDAD_DEL_NEGOCIO')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Fraude_y_Prácticas_Indebidas', 'FRAUDE_Y_PRÁCTICAS_INDEBIDAS')

df_historico['Categoria'] = df_historico['Categoria'].str.replace('Flujo_de_Caja', 'FLUJO_DE_CAJA')
df_historico['Categoria'] = df_historico['Categoria'].str.replace('Incumplimiento_Al_SAC', 'INCUMPLIMIENTO_AL_SAC')

In [16]:
df_historico['Categoria'].value_counts()

Categoria
SIN_HALLAZGO                            1026
OTRAS_POLITICAS                         1017
LIMITACIÓN_EN_EL_ALCANCE                 430
ESTABILIDAD                              236
POLITICAS_CRITICAS                       196
CALIDAD_DE_DATOS                         181
CONTROLES_ADMINISTRATIVOS_DE_AGENCIA     176
Otros                                    130
EXISTENCIA_Y_CONTINUIDAD_DEL_NEGOCIO     120
REPUTACIÓN                               119
FLUJO_DE_CAJA                             89
FRAUDE_Y_PRÁCTICAS_INDEBIDAS              88
INCUMPLIMIENTO_AL_SAC                     49
Controles_Gestión_Comercial               38
HABILIDAD_EMPRESARIAL                     22
Seguridad_de_la_Información                2
Name: count, dtype: int64

Podemos borrar columnas categoricas unicas, como por ejemplo Num, ID_modif, Cliente, Nombre Analista, Validacion unico, Borramos nombre de analista porque tenemos la columna Analista

In [40]:
df_clean = df_historico.drop(['Cliente', 'Num', 'ID_modif', 'Nombre analista', 'Validación unico'], axis=1)
df_clean['Cuota'] = df_clean[['Cuota']].replace(' $ -   ', np.nan)
df_clean['Cuota'].astype('float')
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3919 entries, 0 to 3918
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Analista                 3919 non-null   object
 1   Tipo crédito             3717 non-null   object
 2   Fecha desem              3916 non-null   object
 3   Visita_analista_crédito  3119 non-null   object
 4   Visita_auditor           3800 non-null   object
 5   Actividad                3867 non-null   object
 6   Monto                    3919 non-null   float64
 7   Cuota                    3917 non-null   object
 8   Plazo                    3919 non-null   int64
 9   Categoria                3919 non-null   object
 10  Hallazgo                 3917 non-null   object
 11  Tipo hallazgo            3918 non-null   object
 12  Riesgo                   3915 non-null   object
 13  Calificación cartera     3889 non-null   object
 14  Relaciones Laborales     3423 non-null   object
 15  Oficina                  3919 non-null   object
 16  zona                     3919 non-null   int64
 17  Regional                 3919 non-null   int64
 18  Tipo analisis            2397 non-null   object
 19  Clasificac analisis      2397 non-null   object
 20  Estado                   2786 non-null   object
 21  Año                      3919 non-null   int64
 22  Tipo                     2786 non-null   object
dtypes: float64(1), int64(4), object(18)
memory usage: 704.3+ KB

Una vez tenemos las variables describiremos los datos para poder realizar una posible imputacion de datos

In [39]:
df_clean.describe(include='all')

,Analista,Tipo crédito,Fecha desem,Visita_analista_crédito,Visita_auditor,Actividad,Monto,Cuota,Plazo,Categoria,...,Calificación cartera,Relaciones Laborales,Oficina,zona,Regional,Tipo analisis,Clasificac analisis,Estado,Año,Tipo
count,3919,3717,3916,3119,3800,3867,3919.000000,3917,3919.000000,3919,...,3889,3423,3919,3919.000000,3919.000000,2397,2397,2786,3919.000000,2786
unique,406,5,804,690,334,2364,NaN,1069,NaN,16,...,3,2,63,NaN,NaN,5,13,6,NaN,4
top,GEE,Nuevo,31-ago-22,N/D,00-ene-00,venta de mercancia,NaN,84,NaN,SIN_HALLAZGO,...,No,No,Ibague,NaN,NaN,Análisis de carácter,Políticas,Normal,NaN,Otros Hallazgos
freq,44,1595,46,142,134,74,NaN,74,NaN,1026,...,3642,3005,227,NaN,NaN,1410,800,1281,NaN,1514
mean,NaN,NaN,NaN,NaN,NaN,NaN,48.845303,NaN,24.178872,NaN,...,NaN,NaN,NaN,8.884154,3.005103,NaN,NaN,NaN,2022.900740,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,138.084340,NaN,22.629862,NaN,...,NaN,NaN,NaN,4.540201,1.327056,NaN,NaN,NaN,0.817182,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,NaN,...,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,2022.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.374000,NaN,12.000000,NaN,...,NaN,NaN,NaN,5.000000,2.000000,NaN,NaN,NaN,2022.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,4.857000,NaN,24.000000,NaN,...,NaN,NaN,NaN,10.000000,3.000000,NaN,NaN,NaN,2023.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,11.000000,NaN,36.000000,NaN,...,NaN,NaN,NaN,12.000000,4.000000,NaN,NaN,NaN,2024.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,900.000000,NaN,913.000000,NaN,...,NaN,NaN,NaN,17.000000,5.000000,NaN,NaN,NaN,2024.000000,NaN

Para la imputacion:
- Podemos colocar en los valores faltantes de Tipo crédito el valor mas frecuente que es Nuevo
- Visita analista y visita auditor tiene sentido que tenga valores nulos porque se pueden otorgar creditos sin la visita de un analista o de un auditor
- Para los dos valores faltantes de la cuota podemos usar la media o la cuota de creditos desembolsados con el mismo valor